[Unit]
Description=iWebIT Network Monitoring Agent
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/iWebIT_Network_Monitoring
ExecStart=/opt/iWebIT_Network_Monitoring/venv/bin/python agent.py
Restart=always
RestartSec=10
User=root

[Install]
WantedBy=multi-user.target
